<!--Navigation-->
<nav class="process-nav" aria-label="process">
   
   <!-- Desktop Navigation Links -->
   <ol class="navigation">

      <li>
         <a href="#research">Research</a>
         <ul>
            <li> 
               <a href="#evaluative">Evaluative</a>
            </li>
            <li>
               <a href="#generative">Generative</a>
            </li>
         </ul>
      </li> 

      <li>
         <a href="#synthesis">Synthesis</a>
         <ul>
            <li>
               <a href="#findings">Findings</a>
            </li>
         </ul>
      </li> 

      <li>
         <a href="#designI">Design & Test I</a>
         <ul>
            <li>
               <a href="#userstory">User Story</a>
            </li>
            <li>
               <a href="#wireframesI">Wireframes</a>
            </li>
            <li>
               <a href="#prototypesI">Prototypes</a>
            </li>
         </ul>
      </li> 

      <li>
         <a href="#designII">Design & Test II</a>
         <ul>
            <li>
               <a href="#interviewsII">Interviews</a>
            </li>
            <li>
               <a href="#wireframesII">Wireframes</a>
            </li>
            <li>
               <a href="#prototypesII">Prototypes</a>
            </li>
         </ul>
      </li> 
      <li>
         <a href="#present">Present</a>
         <ul>
            <li>
               <a href="#poster">Poster Session</a>
            </li>
            <li>
               <a href="#presentation">Presentation</a>
            </li>
         </ul>
      </li> 
   </ol>


   <!-- Mobile Navigation -->

   <!-- Menu Button -->
   <button type="button" class="mobile-nav-toggle" onclick="myFunction(this)" aria-expanded="false" aria-controls="menu-list">
      <span class="button-icon">
         <span class="bar1" aria-hidden="true"></span>
         <span class="bar2" aria-hidden="true"></span>
         <span class="bar3" aria-hidden="true"></span>
       </span>
      <p class="btn_text">Menu</p>
    </button>

   <!-- Mobile Menu -->
   <div class="mobile-nav-overlay"></div>
   <div class="mobile-nav-overlay-wrapper">
      
      <!-- Mobile Navigation Links -->
      <ul class="nav-links-wrapper" id="menu-list" hidden>
         <li>
            <a href="{{ site.baseurl }}/" class="internal-link-wrapper">
               <h4>Research</h4>
               <span class="color-effect"></span>
               <!-- <div class="internal-link-icon internal-link-icon-home"></div> -->
            </a>
         </li>

         <li>
            <a href="{{ site.baseurl }}/resume" class="internal-link-wrapper">
               <h4>Synthesis</h4>
               <span class="color-effect"></span>
               <!-- <div class="internal-link-icon internal-link-icon-resume"></div> -->
            </a>
         </li>

         <!-- <li>
            <a href="{{ site.baseurl }}/case-studies" class="internal-link-wrapper">
               <h4>Design & Test I</h4>
               <span class="color-effect"></span>
               <div class="internal-link-icon internal-link-icon-case-studies"></div>
            </a>
         </li> -->

         <li>
            <a href="{{ site.baseurl }}/about-me" class="internal-link-wrapper">
               <h4>Design & Test II</h4>
               <span class="color-effect"></span>
               <!-- <div class="internal-link-icon internal-link-icon-about"></div> -->
            </a>
         </li>

         <li>
            <a href="{{ site.baseurl }}/about-me" class="internal-link-wrapper">
               <h4>Present</h4>
               <span class="color-effect"></span>
               <!-- <div class="internal-link-icon internal-link-icon-about"></div> -->
            </a>
         </li>
      </ul>
   </div>
</nav>
<!-- End Navigation -->